{% extends "publicaciones/base.html" %} {% load crispy_forms_tags %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>ContáConmigo</title>
</head>
<body>
    <h1>Editar Solicitud de Donantes:</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ pi_form|crispy }}
        </fieldset>
        <div class="text-center">
        <div class="mt-5 text-center"><button class="btn btn-outline-info profile-button" type="submit">Guardar</button></div>
        </div>
    </form>
</body>
{% endblock content %}


