{% extends "publicaciones/base.html" %} {% load crispy_forms_tags %} {% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>ContáConmigo</title>
</head>
 <h1>Postulaciones a las que has aplicado:</h1>
    <div class="main">
        <table border="2" id="tableList">
            <thead>
            <tr>

                <th>Fecha Donación Elegida</th>
                <th>Comentario</th>
                <th>Nombre del Paciente</th>
                <th>Institución</th>
                <th>Dirección Institución</th>
                <th>¿Asistió?</th>
            </tr>
            </thead>
            <tbody>
                {% for listado in donante %}
                    <tr>
                        <td>{{listado.fechaDonancionElegida}}</td>
                        <td>{{listado.comentario}}</td>
                        {% for institucion in listado.pacienteInstitucion.all %}
                            <td>{{ institucion.paciente }}</td>
                            <td>{{ institucion.institucion.nombreInstitucion }}</td>
                            <td>{{ institucion.institucion.direccion }} - {{ institucion.institucion.idCiudad.nombreCiudad }} - {{ institucion.institucion.idCiudad.idProvincia.nombreProvincia }}</td>
                                {% if not forloop.last %},
                                {% endif %}
                        {% endfor %}

                        <td>
                            {% if listado.confirmacionAsistencia %}
                                ✔
                            {% else%}
                                <a href="confirmacion/{{listado.id}}">Confirmar</a>
                                <a href="eliminacion/{{listado.id}}">Eliminar</a>
                            {% endif%}
                        </td>

                    </tr>
                {% empty %}<tr><td colspan="6">Ud no ha aplicado para ninguna donación.</td></tr>
                {% endfor %}

            </tbody>
        </table>
        </br>
        <div id="total-registros">Total Registros: {{donante|length}}</div>
    </div>
{% endblock content %}
