{% extends "publicaciones/base.html" %} {% load crispy_forms_tags %} {% block content %}
{% load static %}

{% load poll_extras %}

<head>
    <meta charset="UTF-8">
    <title>ContáConmigo</title>
</head>
<body>

    <form method="get">
        <h2>Filtros de búsqueda</h2>
        {{ myFilter.form|crispy }}
        <div class="mt-5 text-center"><button class="btn btn-outline-info profile-button" type="submit">Buscar</button></div>
    </form>

    </br>
    </br>
    <h1>Listado de Pacientes que necesitan de tu colaboración</h1>
    </br>
    <div class="main">
        <table border="2" id="tableList">
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Fecha límite</th>
                <th>Institución</th>
                <th>Ciudad</th>
                <th>Tipos de Sangre Solicitados</th>
                <th>Cant Donantes</th>
                <th>Cant Asistencias Confirmadas</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Sexo</th>
                <th>Tipo de Sangre Paciente</th>
                <th>Teléfono de Contacto</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>

            {% for institucion in pacientesInstitucion %}
                    {% for paciente in pacientes %}
                        {% if institucion.paciente_id == paciente.user.paciente.id%}
                            <tr>
                                <td><img class="circle account-img img-fluid d-block mx-auto" width="50" height="50"
                                 src="{{ paciente.user.profile.image.url }}"/></td>
                                <td>{{institucion.fechaLimite}}</td>
                                <td>{{institucion.institucion.nombreInstitucion}}</td>
                                <td>{{institucion.institucion.idCiudad}}</td>
                                <td>{% for sangres in institucion.tiposSangre.all %} {{ sangres }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                <td>{{ institucion.cantidadDonantes }}</td>

                                <td>{{institucion.id|donantesAsistidos}}</td>

                                <td>{{paciente.user.first_name}}</td>
                                <td>{{paciente.user.last_name}}</td>
                                <td>{{paciente.user.paciente.edad_actual}}</td>
                                <td>{{ institucion.mail }}</td>
                                <td>{{paciente.user.paciente.sexo_descripcion}}</td>
                                <td>{{paciente.tipoSangre}}</td>
                                <td>{{paciente.user.paciente.telefono}}</td>

                                <td>
                                {% if paciente.user.id != user.id and institucion.id|donantesAsistidos < institucion.cantidadDonantes %}

                                    {% for don in donantes1.all %}
                                        {% for donInst in don.pacienteInstitucion.all %}
                                                {% if donInst.id ==  institucion.id and paciente.user.id != user.id %}
                                                        Ya te has postulado!
                                                {% endif %}
                                        {% endfor %}
                                    {% endfor %}

                                    <a href="donante/{{paciente.user.id}}">Quiero Donar!</a>
                                {% elif paciente.user.id == user.id %} 😃
                                {% endif %}
                               </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        </br>
        <div id="total-registros">Total Registros: {{pacientesInstitucion|length}}</div>
    </div>
    </br>
</body>
{% endblock content %}